RAILS_ENV=development

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=app
POSTGRES_PASSWORD=password
POSTGRES_DB=app_development

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Generate these with `bin/rails secret`
RAILS_MASTER_KEY=
SECRET_KEY_BASE=

BACKEND_URL=http://web:3000
